<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ICarStoreDetailDAO">
	<resultMap id="carStoreDetail_DB_Result" type="carStoreDetail">
		<result column="code" property="code" />
		<result column="benelux" property="benelux" />
		<result column="abbreviation" property="abbreviation" />
		<result column="corporation" property="corporation" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="area" property="area" />
		<result column="address" property="address" />
		<result column="name" property="name" />
		<result column="contacts" property="contacts" />
		<result column="district" property="district" />
		<result column="status" property="status" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	<select id="select_carStoreDetail" parameterType="carStoreDetail" resultMap="carStoreDetail_DB_Result">
		SELECT
		t.code
		,t.benelux
		,t.abbreviation
		,t.corporation
		,t.province
		,t.city
		,t.area
		,t.address
		,t.name
		,t.contacts
		,t.district
		,t.status
		,t.updater
		,t.update_datetime
		,t.remark
		FROM
		tloan_car_store_detail t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_carStoreDetail_count" parameterType="carStoreDetail"
		resultType="java.lang.Long">
		SELECT count(1) FROM tloan_car_store_detail t
		<include refid="where_condition" />
	</select>

	<insert id="insert_carStoreDetail" parameterType="carStoreDetail">
		INSERT INTO
		tloan_car_store_detail(
		code
		,benelux
		,abbreviation
		,corporation
		,province
		,city
		,area
		,address
		,name
		,contacts
		,district
		,status
		,updater
		,update_datetime
		,remark
		)
		VALUES(
		#{code}
		,#{benelux}
		,#{abbreviation}
		,#{corporation}
		,#{province}
		,#{city}
		,#{area}
		,#{address}
		,#{name}
		,#{contacts}
		,#{district}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		)
	</insert>

	<update id="update_carStoreDetail" parameterType="carStoreDetail">
		UPDATE tloan_car_store_detail
		SET
		benelux = #{benelux}
		,abbreviation = #{abbreviation}
		,corporation = #{corporation}
		,province = #{province}
		,city = #{city}
		,area = #{area}
		,address = #{address}
		,name = #{name}
		,contacts = #{contacts}
		,district = #{district}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>


</mapper>