<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.ICategoryDAO">
	<resultMap id="category_DB_Result" type="category">
		<result column="code" property="code" />
		<result column="parent_code" property="parentCode" />
		<result column="parent_name" property="parentName" />
		<result column="type" property="type" />
		<result column="name" property="name" />
		<result column="pic" property="pic" />
		<result column="order_no" property="orderNo" />
		<result column="belong" property="belong" />
		<result column="company_code" property="companyCode" />
		<result column="system_code" property="systemCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="parentCode != null and parentCode != '' ">
				AND t.parent_code = #{parentCode}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="name != null and name != '' ">
				AND t.name = #{name}
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND (t.company_code = #{companyCode} or (t.belong = 1 and NOT EXISTS (select * from tmall_category tc where tc.belong = t.code and tc.company_code = #{companyCode})))
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
		</trim>
	</sql>
	<select id="select_category" parameterType="category" resultMap="category_DB_Result">
		SELECT
		t.code
		,t.parent_code
		,(select name from tmall_category tc where tc.code = t.parent_code) as parent_name
		,t.type
		,t.name
		,t.pic
		,t.order_no
		,t.belong
		,t.company_code
		,t.system_code
		FROM
		tmall_category t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_category_count" parameterType="category"
		resultType="java.lang.Long">
		SELECT count(1) FROM tmall_category t
		<include refid="where_condition" />
	</select>

	<insert id="insert_category" parameterType="category">
		INSERT INTO
		tmall_category(
		code
		,parent_code
		,type
		,name
		,pic
		,order_no
		,belong
		,company_code
		,system_code
		)
		VALUES(
		#{code}
		,#{parentCode}
		,#{type}
		,#{name}
		,#{pic}
		,#{orderNo}
		,#{belong}
		,#{companyCode}
		,#{systemCode}
		)
	</insert>
	
	<update id="update_category" parameterType="category">
		UPDATE tmall_category
		SET
		parent_code = #{parentCode}
		,name = #{name}
		,pic = #{pic}
		,order_no = #{orderNo}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_category" parameterType="category">
		DELETE FROM
		tmall_category
		WHERE
		code = #{code}
	</delete>
</mapper>
