<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ICreditOrderDAO">
	<resultMap id="creditOrder_DB_Result" type="creditOrder">
		<result column="code" property="code" />
		<result column="area" property="area" />
		<result column="salesman" property="salesman" />
		<result column="car_store" property="carStore" />
		<result column="jb_bank" property="jbBank" />
		<result column="loan_type" property="loanType" />
		<result column="loan_amount" property="loanAmount" />
		<result column="loan_term" property="loanTerm" />
		<result column="real_name" property="realName" />
		<result column="id_kind" property="idKind" />
		<result column="id_no" property="idNo" />
		<result column="mobile" property="mobile" />
		<result column="dc_user" property="dcUser" />
		<result column="status" property="status" />
		<result column="sign_pic" property="signPic" />
		<result column="home_pic" property="homePic" />
		<result column="id_info" property="idInfo" />
		<result column="video" property="video" />
		<result column="dc_report" property="dcReport" />
		<result column="dc_data" property="dcData" />
		<result column="address" property="address" />
		
		<result column="rate" property="rate" />
		<result column="fee" property="fee" />
		<result column="urgent" property="urgent" />
		<result column="bank" property="bank" />
		<result column="branch" property="branch" />
		<result column="bankcard_no" property="bankcardNo" />
		<result column="last_node" property="lastNode" />
		<result column="fk_pdf" property="fkPdf" />
		<result column="qk_pdf" property="qkPdf" />
		<result column="dk_pdf" property="dkPdf" />
		<result column="sk_pdf" property="skPdf" />
		<result column="sk_amount" property="skAmount" />
		<result column="sk_datetime" property="skDatetime" />
		<result column="status" property="status" />
		<result column="create_datetime" property="createDatetime" />
		<result column="remark" property="remark" />
		<result column="access_level" property="accessLevel" />
		<result column="consume" property="consume" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="statusList != null and statusList != '' ">
				AND t.status in 
                <foreach item="item" index="index" collection="statusList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
			<if test="realName != null and realName != '' ">
				AND t.real_name = #{realName}
			</if>
		</trim>
	</sql>
	<select id="select_creditOrder" parameterType="creditOrder" resultMap="creditOrder_DB_Result">
		SELECT
		t.code
		,t.area
		,t.salesman
		,t.car_store
		,t.jb_bank
		
		,t.loan_type
		,t.loan_amount
		,t.loan_term
		,t.real_name
		,t.id_kind
		
		,t.id_no
		,t.mobile
		,t.dc_user
		,t.sign_pic
		,t.home_pic
		
		,t.id_info
		,t.video
		,t.dc_report
		,t.dc_data
		,t.address
		
		,t.rate
		,t.fee
		,t.urgent
		,t.bank
		,t.branch
		
		,t.bankcard_no
		,t.last_node
		,t.fk_pdf
		,t.qk_pdf
		,t.dk_pdf
		
		,t.sk_pdf
		,t.sk_amount
		,t.sk_datetime
		,t.status
		,t.create_datetime
		
		,t.remark
		,t.access_level
		,t.consume
		FROM
		tloan_credit_order t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_creditOrder_count" parameterType="creditOrder"
		resultType="java.lang.Long">
		SELECT count(1) FROM tloan_credit_order t
		<include refid="where_condition" />
	</select>

	<insert id="insert_creditOrder" parameterType="creditOrder">
		INSERT INTO
		tloan_credit_order(
		code
		,area
		,salesman
		,car_store
		,jb_bank
		
		,loan_type
		,loan_amount
		,loan_term
		,real_name
		,id_kind
		
		,id_no
		,mobile
		,dc_user
		,sign_pic
		,home_pic
		
		,id_info
		,video
		,dc_report
		,dc_data
		,address
		
		,rate
		,fee
		,urgent
		,bank
		,branch
		
		,bankcard_no
		,last_node
		,fk_pdf
		,qk_pdf
		,dk_pdf
		
		,sk_pdf
		,sk_amount
		,sk_datetime
		,status
		,create_datetime
		
		,remark
		,access_level
		,consume
		)
		VALUES(
		#{code}
		,#{area}
		,#{salesman}
		,#{carStore}
		,#{jbBank}
		
		,#{loanType}
		,#{loanAmount}
		,#{loanTerm}
		,#{realName}
		,#{idKind}
		
		,#{idNo}
		,#{mobile}
		,#{dcUser}
		,#{signPic}
		,#{homePic}
		
		,#{idInfo}
		,#{video}
		,#{dcReport}
		,#{dcData}
		,#{address}
		
		,#{rate}
		,#{fee}
		,#{urgent}
		,#{bank}
		,#{branch}
		
		,#{bankcardNo}
		,#{lastNode}
		,#{fkPdf}
		,#{qkPdf}
		,#{dkPdf}
		
		,#{skPdf}
		,#{skAmount}
		,#{skDatetime}
		,#{status}
		,#{createDatetime}
		
		,#{remark}
		,#{accessLevel}
		,#{consume}
		)
	</insert>

	<update id="update_creditOrder" parameterType="creditOrder">
		UPDATE tloan_credit_order
		SET
		area=#{area}
		,salesman=#{salesman}
		,car_store=#{carStore}
		,jb_bank=#{jbBank}
		
		,loan_type=#{loanType}
		,loan_amount=#{loanAmount}
		,loan_term=#{loanTerm}
		,real_name=#{realName}
		,id_kind=#{idKind}
		
		,id_no=#{idNo}
		,mobile=#{mobile}
		,dc_user=#{dcUser}
		,sign_pic=#{signPic}
		,home_pic=#{homePic}
		
		,id_info=#{idInfo}
		,video=#{video}
		,dc_report=#{dcReport}
		,dc_data=#{dcData}
		,address=#{address}
		
		,rate=#{rate}
		,fee=#{fee}
		,urgent=#{urgent}
		,bank=#{bank}
		,branch=#{branch}
		
		,bankcard_no=#{bankcardNo}
		,last_node=#{lastNode}
		,status=#{status}
		,remark=#{remark}
		WHERE code = #{code}
	</update>

	<delete id="delete_creditOrder" parameterType="creditOrder">
		DELETE FROM tloan_credit_order
		WHERE
		code = #{code}
	</delete>
	
	<update id="update_Status" parameterType="creditOrder">
		UPDATE tloan_credit_order
		SET
		status = #{status}
		WHERE code = #{code}
	</update>
	
	<update id="update_Survey" parameterType="creditOrder">
		UPDATE tloan_credit_order
		SET
		mobile = #{mobile}
		,last_node=#{lastNode}
		,dc_user = #{dcUser}
		,status = #{status}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_SBack" parameterType="creditOrder">
		UPDATE tloan_credit_order
		SET
		status = #{status}
		,last_node=#{lastNode}
		,sign_pic = #{signPic}
		,home_pic = #{homePic}
		,id_info = #{idInfo}
		,video = #{video}
		,dc_report = #{dcReport}
		,dc_data = #{dcData}
		,address = #{address}
		,remark=#{remark}
		WHERE code = #{code}
	</update> 
	
	<update id="update_ZLBack" parameterType="creditOrder">
		UPDATE tloan_credit_order
		SET
		status = #{status}
		,last_node=#{lastNode}
		,loan_amount = #{loanAmount}
		,loan_term = #{loanTerm}
		,rate = #{rate}
		,fee = #{fee}
		,urgent = #{urgent}
		,bank = #{bank}
		,branch=#{branch}
		,bankcard_no = #{bankcardNo}
		WHERE code = #{code}
	</update> 
	
	<update id="update_Approve" parameterType="creditOrder">
		UPDATE tloan_credit_order
		SET
		status = #{status}
		,loan_amount=#{loanAmount}
		,last_node=#{lastNode}
		,remark = #{remark}
		WHERE code = #{code}
	</update> 
	
	<update id="update_Payroll" parameterType="creditOrder">
		UPDATE tloan_credit_order
		SET
		status = #{status}
		,fk_pdf = #{fkPdf}
		,remark=#{remark}
		WHERE code = #{code}
	</update> 
	
	<update id="update_Visit" parameterType="creditOrder">
		UPDATE tloan_credit_order
		SET
		status = #{status}
		,last_node=#{lastNode}
		,remark = #{remark}
		WHERE code = #{code}
	</update> 
	
	<update id="update_Financial" parameterType="creditOrder">
		UPDATE tloan_credit_order
		SET
		status = #{status}
		,last_node=#{lastNode}
		,remark = #{remark}
		WHERE code = #{code}
	</update> 
	
	<update id="update_Payout" parameterType="creditOrder">
		UPDATE tloan_credit_order
		SET
		status = #{status}
		,last_node=#{lastNode}
		,qk_pdf = #{qkPdf}
		,remark=#{remark}
		WHERE code = #{code}
	</update> 
	
	<update id="update_Moneyback" parameterType="creditOrder">
		UPDATE tloan_credit_order
		SET
		status = #{status}
		,last_node=#{lastNode}
		,dk_pdf = #{dkPdf}
		,remark=#{remark}
		WHERE code = #{code}
	</update> 
	<update id="update_FBH" parameterType="creditOrder">
		UPDATE tloan_credit_order
		SET
		status = #{status}
		WHERE code = #{code}
	</update> 
	
	<update id="update_Download" parameterType="creditOrder">
		UPDATE tloan_credit_order
		SET
		download_times = #{downloadTimes}
		WHERE code = #{code}
	</update> 
	
	<update id="update_receiptPdf" parameterType="creditOrder">
		UPDATE tloan_credit_order
		SET
		status=#{status}
		,sk_pdf = #{skPdf}
		,sk_amount=#{skAmount}
		,sk_datetime=#{skDatetime}
		,remark=#{remark}
		,consume=#{consume}
		WHERE code = #{code}
	</update> 
	
	<update id="update_bank" parameterType="creditOrder">
		UPDATE tloan_credit_order
		SET
		bank=#{bank}
		,branch=#{branch}
		,bankcard_no=#{bankcardNo}
		WHERE code = #{code}
	</update>
</mapper>