<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.ICreditAuditDAO">
	<resultMap id="creditAudit_DB_Result" type="creditAudit">
		<result column="code" property="code" />
		<result column="credit_order_code" property="creditOrderCode" />
		<result column="loan_type" property="loanType" />
		<result column="loan_amount" property="loanAmount" />
		<result column="real_name" property="realName" />
		
		<result column="relation" property="relation" />
		<result column="id_kind" property="idKind" />
		<result column="id_no" property="idNo" />
		<result column="accredit_pdf" property="accreditPdf" />
		<result column="credit_result" property="creditResult" />
			
		<result column="credit_descript" property="creditDescript" />
		<result column="court_result" property="courtResult" />
		<result column="court_descript" property="courtDescript" />
		<result column="status" property="status" />
		<result column="mobile" property="mobile" />
		
		<result column="work_unit" property="workUnit" />
		<result column="work_phone" property="workPhone" />
		<result column="address" property="address" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="realName != null and realName != '' ">
				AND t.real_name like "%"#{realName}"%"
			</if>
			<if test="statusList != null and statusList != '' ">
				AND t.status in 
                <foreach item="item" index="index" collection="statusList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
			<if test="relation != null and relation != '' ">
				AND t.relation = #{relation}
			</if>
			<if test="creditOrderCode != null and creditOrderCode != '' ">
				AND t.credit_order_code = #{creditOrderCode}
			</if>
		</trim>
	</sql>
	<select id="select_creditAudit" parameterType="creditAudit" resultMap="creditAudit_DB_Result">
		SELECT
		t.code
		,t.credit_order_code
		,t.loan_type
		,t.loan_amount
		,t.real_name
		,t.relation
		,t.id_kind
		,t.id_no
		,t.accredit_pdf
		,t.credit_result
		,t.credit_descript
		,t.court_result
		,t.court_descript
		,t.status
		,t.mobile
		,t.work_unit
		,t.work_phone
		,t.address
		,t.remark
		FROM
		tloan_credit_people t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_creditAudit_count" parameterType="creditAudit"
		resultType="java.lang.Long">
		SELECT count(1) FROM tloan_credit_people t
		<include refid="where_condition" />
	</select>

	<insert id="insert_creditAudit" parameterType="creditAudit">
		INSERT INTO
		tloan_credit_people(
		code
		,credit_order_code
		,loan_type
		,loan_amount
		,real_name
		,relation
		,id_kind
		,id_no
		,accredit_pdf
		,credit_result
		,credit_descript
		,court_result
		,court_descript
		,status
		,mobile
		,work_unit
		,work_phone
		,address
		,remark
		)
		VALUES(
		#{code}
		,#{creditOrderCode}
		,#{loanType}
		,#{loanAmount}
		,#{realName}
		,#{relation}
		,#{idKind}
		,#{idNo}
		,#{accreditPdf}
		,#{creditResult}
		,#{creditDescript}
		,#{courtResult}
		,#{courtDescript}
		,#{status}
		,#{mobile}
		,#{workUnit}
		,#{workPhone}
		,#{address}
		,#{remark}
		)
	</insert>

	<update id="update_creditAudit" parameterType="creditAudit">
		UPDATE tloan_credit_people
		SET
		credit_result = #{creditResult}
		,credit_descript = #{creditDescript}
		,court_result = #{courtResult}
		,court_descript = #{courtDescript}
		,status = #{status}
		WHERE code = #{code}
	</update>

	<delete id="delete_creditAudit" parameterType="creditAudit">
		DELETE FROM tloan_credit_people
		WHERE
		code = #{code}
	</delete>
	
	<update id="update_mobile" parameterType="creditAudit">
		UPDATE tloan_credit_people
		SET
		mobile = #{mobile}
		WHERE code = #{code}
	</update>
	
		<update id="update_address" parameterType="creditAudit">
		UPDATE tloan_credit_people
		SET
		mobile=#{mobile}
		,work_unit = #{workUnit}
		,work_phone = #{workPhone}
		,address = #{address}
		WHERE code = #{code}
	</update>
	
<!-- 	<update id="update_creditAudit" parameterType="creditAudit">
		UPDATE tloan_credit_people
		SET
		relation = #{relation}
		,ref_user = #{refUser}
		,id_kind = #{idKind}
		,id_no = #{idNo}
		,real_name=#{realName}
		,credit_result = #{creditResult}
		,credit_code = #{creditCode}
		,credit_descript = #{creditDescript}
		,court_result = #{courtResult}
		,court_descript = #{courtDescript}
		,status = #{status}
		,create_datetime = #{createDatetime}
		,mobile = #{mobile}
		,work_unit = #{workUnit}
		,work_phone = #{workPhone}
		,work_address = #{workAddress}
		,detail = #{detail}
		,approver = #{approver}
		,approve_datetime = #{approveDatetime}
		,approve_note = #{approveNote}
		,remark = #{remark}
		WHERE code = #{code}
	</update> -->
</mapper>