<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.IJewelRecordDAO">
	<resultMap id="jewelRecord_DB_Result" type="jewelRecord">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="jewel_code" property="jewelCode" />
		<result column="create_datetime" property="createDatetime" />
		<result column="times" property="times" />
		
		<result column="pay_amount" property="payAmount" />
		<result column="status" property="status" />
		<result column="remark" property="remark" />
		<result column="system_code" property="systemCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="userId != null and userId != '' ">
				AND t.user_id = #{userId}
			</if>
			<if test="jewelCode != null and jewelCode != '' ">
				AND t.jewel_code = #{jewelCode}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
		</trim>
	</sql>
	<select id="select_jewelRecord" parameterType="jewelRecord" resultMap="jewelRecord_DB_Result">
		SELECT
		t.code
		,t.user_id
		,t.jewel_code
		,t.create_datetime
		,t.times
		
		,t.pay_amount
		,t.status
		,t.remark
		,t.system_code
		FROM
		tact_jewel_record t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_jewelRecord_count" parameterType="jewelRecord"
		resultType="java.lang.Long">
		SELECT count(1) FROM tact_jewel_record t 
		<include refid="where_condition" />
	</select>

	<insert id="insert_jewelRecord" parameterType="jewelRecord">
		INSERT INTO
		tact_jewel_record(
		code
		,user_id
		,jewel_code
		,create_datetime
		,times
		
		,pay_amount
		,status
		,remark
		,system_code
		)
		VALUES(
		#{code}
		,#{userId}
		,#{jewelCode}
		,#{createDatetime}
		,#{times}
		
		,#{payAmount}
		,#{status}
		,#{remark}
		,#{systemCode}
		)
	</insert>
	
	<update id="update_jewelRecord" parameterType="jewelRecord">
		UPDATE tact_jewel_record
		SET
		status=#{status}
		,remark=#{remark}
		WHERE code = #{code}
	</update>
	
	<delete id="delete_jewelRecord" parameterType="jewelRecord">
		DELETE FROM
		tact_jewel_record
		WHERE
		code = #{code}
	</delete>
</mapper>
