<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>	
		<typeAlias alias="product" type="com.xnjr.mall.domain.Product" />
		<typeAlias alias="cart" type="com.xnjr.mall.domain.Cart" />
		<typeAlias alias="order" type="com.xnjr.mall.domain.Order" />
		<typeAlias alias="productOrder" type="com.xnjr.mall.domain.ProductOrder" />
		<typeAlias alias="sysDict" type="com.xnjr.mall.domain.SYSDict" />
	    <typeAlias alias="sysConfig" type="com.xnjr.mall.domain.SYSConfig" />
	</typeAliases>	
</configuration>


