<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.IProductDAO">
	<resultMap id="product_DB_Result" type="product">
		<result column="code" property="code" />
		<result column="category" property="category" />
		<result column="type" property="type" />
		<result column="name" property="name" />
		<result column="adv_title" property="advTitle" />
		<result column="adv_pic" property="advPic" />
		<result column="pic1" property="pic1" />
		<result column="pic2" property="pic2" />
		<result column="pic3" property="pic3" />
		<result column="pic4" property="pic4" />
		<result column="description" property="description" />
		<result column="cost_price" property="costPrice" />
		<result column="quantity" property="quantity" />
		<result column="status" property="status" />
	    <result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		<result column="original_price" property="originalPrice" />
		<result column="discount_price" property="discountPrice" />
		<result column="location" property="location" />
		<result column="order_no" property="orderNo" />
		<result column="company_code" property="companyCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="category != null and category != '' ">
				AND t.category = #{category}
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="name != null and name != '' ">
				AND t.name = #{name}
			</if>
			<if test="nameForQuery != null and nameForQuery != '' ">
				AND t.name like "%"#{nameForQuery}"%"
			</if>
			<if test="companyCode != null and companyCode != '' ">
				AND t.company_code = #{companyCode}
			</if>
			<choose>
				 <when test="status == '13'">
				  AND (t.status = 1 or t.status = 3)
				 </when>
				 <when test="status != null and status != '' ">
				  AND t.status = #{status}
				 </when>
				 <otherwise>
				  AND 1 = 1
				 </otherwise>
			</choose>
			<if test="updater != null and updater != '' ">
				AND t.updater = #{updater}
			</if>
			<if test="location != null and location != '' ">
				AND t.location = #{location}
			</if>
		</trim>
	</sql>
	<select id="select_product" parameterType="product" resultMap="product_DB_Result">
		SELECT
		code
		,category
		,type
		,name
		,adv_title
		,adv_pic
		,pic1
		,pic2
		,pic3
		,pic4
		,description
		,cost_price
		,quantity
		,status
		,updater
		,update_datetime
		,remark
		,original_price
		,discount_price
		,location
		,order_no
		,company_code
		FROM
		tmall_product t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>

	<select id="select_product_count" parameterType="product"
		resultType="java.lang.Long">
		SELECT count(1) FROM tmall_product t
		<include refid="where_condition" />
	</select>

	<insert id="insert_product" parameterType="product">
		INSERT INTO
		tmall_product(
		code
		,category
		,type
		,name
		,adv_title
		,adv_pic
		,pic1
		,pic2
		,pic3
		,pic4
		,description
		,cost_price
		,quantity
		,status
		,updater
		,update_datetime
		,remark
		,company_code
		)
		VALUES(
		#{code}
		,#{category}
		,#{type}
		,#{name}
		,#{advTitle}
		,#{advPic}
		,#{pic1}
		,#{pic2}
		,#{pic3}
		,#{pic4}
		,#{description}
		,#{costPrice}
		,#{quantity}
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		,#{companyCode}
		)
	</insert>
	
	<update id="update_product" parameterType="product">
		UPDATE tmall_product
		SET
		name = #{name}
		,category = #{category}
		,type = #{type}
		,adv_title = #{advTitle}
		,adv_pic = #{advPic}
		,pic1 = #{pic1}
		,pic2 = #{pic2}
		,pic3 = #{pic3}
		,pic4 = #{pic4}
		,description = #{description}
		,cost_price = #{costPrice}
		,quantity = #{quantity}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_productStatus" parameterType="product">
		UPDATE tmall_product
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_putOn" parameterType="product">
		UPDATE tmall_product
		SET
		original_price = #{originalPrice}
		,discount_price = #{discountPrice}
		,location = #{location}
		,order_no = #{orderNo}
		,status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_product_quantity" parameterType="product">
		UPDATE tmall_product
		SET
		quantity = quantity - ${quantity}
		WHERE code = #{code}
	</update>

	<delete id="delete_product" parameterType="product">
		DELETE FROM
		tmall_product
		WHERE
		code = #{code}
	</delete>
</mapper>
