<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.IProductOrderDAO">
	<resultMap id="productOrder_DB_Result" type="productOrder">
		<result column="code" property="code" />
		<result column="order_code" property="orderCode" />
		<result column="product_code" property="productCode" />
		<result column="product_name" property="productName" />
		<result column="quantity" property="quantity" />
		<result column="sale_price" property="salePrice" />
		<result column="adv_pic" property="advPic" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="orderCode != null and orderCode != '' ">
				AND t.order_code = #{orderCode}
			</if>
			<if test="productCode != null and productCode != '' ">
				AND t.product_code = #{productCode}
			</if>
		</trim>
	</sql>
	<select id="select_productOrder" parameterType="productOrder" resultMap="productOrder_DB_Result">
		SELECT
		t.code
		,t.order_code
		,t.product_code
		,t.quantity
		,tp.name product_name
		,t.sale_price
		,tp.adv_pic
		FROM
		tmall_product_order t INNER JOIN tmall_product tp ON t.product_code = tp.code
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_productOrder_count" parameterType="productOrder"
		resultType="java.lang.Long">
		SELECT count(1) FROM tmall_product_order t INNER JOIN tmall_product tp ON t.product_code = tp.code
		<include refid="where_condition" />
	</select>

	<insert id="insert_productOrder" parameterType="productOrder">
		INSERT INTO tmall_product_order(
		code
		,order_code
		,product_code
		,quantity
		,sale_price
		)
		VALUES(
		#{code}
		,#{orderCode}
		,#{productCode}
		,#{quantity}
		,#{salePrice}
		)
	</insert>
</mapper>
