<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdkj.loan.dao.IRepayDAO">
	<resultMap id="Repay_DB_Result" type="Repay">
		<result column="code" property="code" />
		<result column="total_amount" property="totalAmount" />
		<result column="total_term" property="totalTerm" />
		<result column="credit_order_code" property="creditOrderCode" />
		<result column="jb_bank" property="jbBank" />
		<result column="real_name" property="realName" />
		<result column="id_no" property="idNo" />
		<result column="yh_amount" property="yhAmount" />
		<result column="yh_datetime" property="yhDatetime" />
		<result column="sh_amount" property="shAmount" />
		<result column="sh_datetime" property="shDatetime" />
		<result column="over_amount" property="overAmount" />
		<result column="over_days" property="overDays" />
		<result column="sms_count" property="smsCount" />
		<result column="status" property="status" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="creditOrderCode != null and creditOrderCode != '' ">
				AND t.credit_order_code = #{creditOrderCode}
			</if>
			<if test="idNo != null and idNo != '' ">
				AND t.id_no = #{idNo}
			</if>
			<if test="realName != null and realName != '' ">
				AND t.real_name = #{realName}
			</if>
			<if test="realNameForLikeQuery != null and realNameForLikeQuery != '' ">
				AND t.real_name like "%"#{realNameForLikeQuery}"%"
			</if>
			<if test="yhDatetime != null and yhDatetime != '' ">
				AND t.yh_datetime = #{yhDatetime}
			</if>
			<if test="shDatetime != null and shDatetime != '' ">
				AND t.sh_datetime = #{shDatetime}
			</if>
			<if test="jbBank != null and jbBank != '' ">
				AND t.jb_bank = #{jbBank}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="statusList != null and statusList != '' ">
				AND t.status in 
                <foreach item="item" index="index" collection="statusList" open="(" separator="," close=")">
	            	#{item}
                </foreach> 
			</if>
		 	<if test="cxStarttime !=null and cxStarttime!=''">  
            	AND <![CDATA[yh_datetime>=#{cxStarttime} ]]>  
	        </if>  
	        <if test="cxEndtime!=null and cxEndtime!=''">  
	            AND <![CDATA[yh_datetime<=#{cxEndtime}]]>  
	        </if>  
		</trim>
	</sql>
	<select id="select_Repay" parameterType="Repay" resultMap="Repay_DB_Result">
		SELECT
		t.code
		,t.credit_order_code
		,t.jb_bank
		,t.real_name
		,t.id_no
		,t.yh_amount
		,t.yh_datetime
		,t.sh_amount
		,t.sh_datetime
		,t.over_amount
		,t.over_days
		,t.sms_count
		,t.status
		,t.remark
		FROM
		tloan_repay t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_Repay_count" parameterType="Repay"
		resultType="java.lang.Long">
		SELECT count(1) FROM tloan_repay t
		<include refid="where_condition" />
	</select>

	<insert id="insert_Repay" parameterType="Repay">
		INSERT INTO
		tloan_repay(
		code
		,credit_order_code
		,jb_bank
		,real_name
		,id_no
		,yh_amount
		,yh_datetime
		,sh_amount
		,sh_datetime
		,over_amount
		,over_days
		,sms_count
		,status
		,remark
		)
		VALUES(
		#{code}
		,#{creditOrderCode}
		,#{jbBank}
		,#{realName}
		,#{idNo}
		,#{yhAmount}
		,#{yhDatetime}
		,#{shAmount}
		,#{shDatetime}
		,#{overAmount}
		,#{overDays}
		,#{smsCount}
		,#{status}
		,#{remark}
		)
	</insert>

	<update id="update_Repay" parameterType="Repay">
		UPDATE tloan_repay
		SET
		sh_amount = #{shAmount}
		,sh_datetime = #{shDatetime}
		,status = #{status}
		,sms_count=#{smsCount}
		,remark = #{remark}
		WHERE code = #{code}
	</update>

	<update id="update_Also" parameterType="Repay">
		UPDATE tloan_repay
		SET
		over_amount=#{overAmount}
		,over_days=#{overDays}
		,status=#{status}
		WHERE code = #{code}
	</update>

	<update id="update_Sms" parameterType="Repay">
		UPDATE tloan_repay
		SET
		status=#{status}
		,sms_count=#{smsCount}
		,remark=#{remark}
		WHERE code = #{code}
	</update>

	<update id="update_Sue" parameterType="Repay">
		UPDATE tloan_repay
		SET
		status=#{status}
		WHERE code = #{code}
	</update>
	
	<update id="update_Advance" parameterType="Repay">
		UPDATE tloan_repay
		SET
		status=#{status}
		,sh_datetime=#{shDatetime}
        ,sh_amount=#{shAmount}
		,remark=#{remark}
		WHERE code = #{code}
	</update>

	<update id="update_Yhdate" parameterType="Repay">
		UPDATE tloan_repay
		SET
		yh_datetime=#{yhDatetime}
		,status=#{status}
		WHERE code = #{code}
	</update>
	<update id="update_term" parameterType="Repay">
		UPDATE tloan_repay
		SET
		yh_amount=#{yhAmount}
		WHERE code = #{code}
	</update>
	
	<select id="select_repay" parameterType="Repay" resultMap="Repay_DB_Result">
	SELECT SUM(yh_amount+over_amount) AS total_amount ,
	(SELECT COUNT(*) FROM tloan_repay tr WHERE tr.credit_order_code = t.credit_order_code AND tr.over_amount = 0) AS total_term
		,t.code
		,t.credit_order_code
		,t.jb_bank
		,t.real_name
		,t.id_no
		,t.yh_amount
		,t.yh_datetime
		,t.sh_amount
		,t.sh_datetime
		,t.over_amount
		,t.over_days
		,t.sms_count
		,t.status
		,t.remark FROM tloan_repay t WHERE STATUS IN(3,4,5,6)
		<if test="realNameForLikeQuery != null and realNameForLikeQuery != '' ">
				AND t.real_name like "%"#{realNameForLikeQuery}"%"
		</if>
		<if test="code != null and code != '' ">
				AND t.code = #{code}
		</if>
		<if test="creditOrderCode != null and creditOrderCode != '' ">
			AND t.credit_order_code = #{creditOrderCode}
		</if>
		<trim prefix="GROUP BY ">
			 t.credit_order_code
		</trim>
	</select>
	
		<select id="select_repay_count" parameterType="Repay"
		resultType="java.lang.Long">
		SELECT count(*) FROM tloan_repay t
		<include refid="where_condition" />
		<trim prefix="GROUP BY ">
			 credit_order_code
		</trim>
	</select>
</mapper>