<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.IStorePurchaseDAO">
	<resultMap id="storePurchase_DB_Result" type="storePurchase">
		<result column="code" property="code" />
		<result column="user_id" property="userId" />
		<result column="amount" property="amount" />
		<result column="back_amount" property="backAmount" />
		<result column="create_datetime" property="createDatetime" />
		<result column="remark" property="remark" />
		<result column="store_code" property="storeCode" />
		<result column="system_code" property="systemCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	<select id="select_storePurchase" parameterType="storePurchase" resultMap="storePurchase_DB_Result">
		SELECT
		t.code
		,t.user_id
		,t.amount
		,t.back_amount
		,t.create_datetime
		,t.remark
		,t.store_code
		,t.system_code
		FROM
		to2o_store_purchase t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_storePurchase_count" parameterType="storePurchase"
		resultType="java.lang.Long">
		SELECT count(1) FROM to2o_store_purchase t
		<include refid="where_condition" />
	</select>

	<insert id="insert_storePurchase" parameterType="storePurchase">
		INSERT INTO
		to2o_store_purchase(
		code
		,user_id
		,amount
		,back_amount
		,create_datetime
		,remark
		,store_code
		,system_code
		)
		VALUES(
		#{code}
		,#{userId}
		,#{amount}
		,#{backAmount}
		,#{createDatetime}
		,#{remark}
		,#{storeCode}
		,#{systemCode}
		)
	</insert>

	<update id="update_storePurchase" parameterType="storePurchase">
		UPDATE to2o_store_purchase
		SET
		user_id = #{userId}
		,amount = #{amount}
		,back_amount = #{backAmount}
		,create_datetime = #{createDatetime}
		,remark = #{remark}
		,store_code = #{storeCode}
		,system_code = #{systemCode}
		WHERE code = #{code}
	</update>


</mapper>