<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.IStoreDAO">
	<resultMap id="store_DB_Result" type="store">
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="type" property="type" />
		<result column="legal_person_name" property="legalPersonName" />
		<result column="user_referee" property="userReferee" />
		
		<result column="rate1" property="rate1" />
		<result column="rate2" property="rate2" />
		<result column="slogan" property="slogan" />
		<result column="ad_pic" property="adPic" />
		<result column="pic" property="pic" />
		
		<result column="description" property="description" />
		<result column="province" property="province" />
		<result column="city" property="city" />
		<result column="area" property="area" />
		<result column="address" property="address" />
		
		<result column="longitude" property="longitude" />
		<result column="latitude" property="latitude" />
		<result column="book_mobile" property="bookMobile" />
		<result column="sms_mobile" property="smsMobile" />
		<result column="pdf" property="pdf" />
		
		<result column="is_default" property="isDefault" />
		<result column="ui_location" property="uiLocation" />
		<result column="ui_order" property="uiOrder" />
		<result column="status" property="status" />
		<result column="approver" property="approver" />
		
		<result column="approve_datetime" property="approveDatetime" />
		<result column="updater" property="updater" />
		<result column="update_datetime" property="updateDatetime" />
		<result column="remark" property="remark" />
		<result column="owner" property="owner" />
		
		<result column="total_jf_num" property="totalJfNum" />
		<result column="total_dz_num" property="totalDzNum" />
		<result column="system_code" property="systemCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
			<if test="name != null and name != '' ">
				AND t.name like "%"#{name}"%"
			</if>
			<if test="type != null and type != '' ">
				AND t.type = #{type}
			</if>
			<if test="userReferee != null and userReferee != '' ">
				AND t.user_referee = #{userReferee}
			</if>
			<if test="legalPersonName != null and legalPersonName != '' ">
				AND t.legal_person_name = #{legalPersonName}
			</if>
			<if test="province != null and province != '' ">
				AND t.province = #{province}
			</if>
			<if test="city != null and city != '' ">
				AND t.city = #{city}
			</if>
			<if test="area != null and area != '' ">
				AND t.area = #{area}
			</if>
			<if test="status != null and status != '' ">
				AND t.status = #{status}
			</if>
			<if test="owner != null and owner != '' ">
				AND t.owner = #{owner}
			</if>
			<if test="systemCode != null and systemCode != '' ">
				AND t.system_code = #{systemCode}
			</if>
		</trim>
	</sql>
	
	<select id="select_store" parameterType="store" resultMap="store_DB_Result">
		SELECT
		code
		,t.name
		,t.type
		,t.legal_person_name
		,t.user_referee
		,t.rate1
		
		,t.rate2
		,t.slogan
		,t.ad_pic	
		,t.pic
		,t.description
		
		,t.province
		,t.city
		,t.area
		,t.address
		,t.longitude
		
		,t.latitude
		,t.book_mobile
		,t.sms_mobile
		,t.pdf
		,t.is_default
		
		,t.ui_location
		,t.ui_order
		,t.status
		,t.approver
		,t.approve_datetime
		
		,t.updater
		,t.update_datetime
		,t.remark
		,t.owner
		,t.total_dz_num
		
		,t.total_jf_num
		,t.system_code
		
		FROM
		to2o_store t <!--  LEFT JOIN ${userDB}.tstd_user tu ON t.user_id = tu.user_id  -->
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				${order}
			</if>
		</trim>
	</select>
	
	<select id="select_store_count" parameterType="store"
		resultType="java.lang.Long">
		SELECT count(1) FROM to2o_store t <!--  LEFT JOIN ${userDB}.tstd_user tu ON t.user_id = tu.user_id -->
		<include refid="where_condition" />
	</select>
	
	<insert id="insert_store" parameterType="store">
		INSERT INTO
		to2o_store(
		code
		,name
		,type
		,legal_person_name
		,user_referee
		
		,rate1
		,rate2
		,slogan
		,ad_pic	
		,pic
		
		,description
		,province
		,city
		,area
		,address
		
		,longitude
		,latitude
		,book_mobile
		,sms_mobile
		,pdf
		
		,status
		,updater
		,update_datetime
		,remark
		,owner
		
		,system_code
		)
		VALUES(
		#{code}
		,#{name}
		,#{type}
		,#{legalPersonName}
		,#{userReferee}
		
		,#{rate1}
		,#{rate2}
		,#{slogan}
		,#{adPic}
		,#{pic}
		
		,#{description}
		,#{province}
		,#{city}
		,#{area}
		,#{address}
		
		,#{longitude}
		,#{latitude}
		,#{bookMobile}
		,#{smsMobile}
		,#{pdf}
		
		,#{status}
		,#{updater}
		,#{updateDatetime}
		,#{remark}
		,#{owner}
		
		,#{systemCode}
		)
	</insert>
	
	<update id="update_store" parameterType="store">
		UPDATE to2o_store
		SET
		name = #{name}
		,type = #{type}
		,legal_person_name = #{legalPersonName}
		,user_referee = #{userReferee}
		,rate1 = #{rate1}
		
		,rate2 = #{rate2}
		,slogan = #{slogan}
		,ad_pic = #{adPic}
		,pic = #{pic}
		,description = #{description}
		
		,province = #{province}
		,city = #{city}
		,area = #{area}
		,address = #{address}
		,longitude = #{longitude}
		
		,latitude = #{latitude}
		,book_mobile = #{bookMobile}
		,sms_mobile = #{smsMobile}
		,pdf = #{pdf}
		,update_datetime = #{updateDatetime}
		
		,status = #{status}
		
		WHERE code = #{code}
	</update>
	
	<update id="update_storeStatus" parameterType="store">
		UPDATE to2o_store
		SET
		status = #{status}
		,updater = #{updater}
		,update_datetime = #{updateDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
    <update id="update_check" parameterType="store">
		UPDATE to2o_store
		SET
		status = #{status}
		,approver = #{approver}
		,approve_datetime = #{approveDatetime}
		,remark = #{remark}
		WHERE code = #{code}
	</update>
	
	<update id="update_storeDZ" parameterType="store">
		UPDATE to2o_store
		SET
		total_dz_num = #{totalDzNum}
		WHERE code = #{code}
	</update>
	
	<update id="update_storeJF" parameterType="store">
		UPDATE to2o_store
		SET
		total_jf_num = #{totalJfNum}
		WHERE code = #{code}
	</update>
</mapper>