<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xnjr.mall.dao.IStoreActionDAO">
	<resultMap id="storeAction_DB_Result" type="storeAction">
		<result column="code" property="code" />
		<result column="type" property="type" />
		<result column="action_user" property="actionUser" />
		<result column="action_datetime" property="actionDatetime" />
		<result column="store_code" property="storeCode" />
		<result column="system_code" property="systemCode" />
	</resultMap>
	<sql id="where_condition">
		<trim prefix="WHERE" prefixOverrides="AND | OR">
			<if test="code != null and code != '' ">
				AND t.code = #{code}
			</if>
		</trim>
	</sql>
	<select id="select_storeAction" parameterType="storeAction" resultMap="storeAction_DB_Result">
		SELECT
		t.code
		,t.type
		,t.action_user
		,t.action_datetime
		,t.store_code
		,t.system_code
		FROM
		to2o_store_action t
		<include refid="where_condition" />
		<trim prefix="ORDER BY ">
			<if test="order != null and order != '' ">
				t.${order}
			</if>
		</trim>
	</select>

	<select id="select_storeAction_count" parameterType="storeAction"
		resultType="java.lang.Long">
		SELECT count(1) FROM to2o_store_action t
		<include refid="where_condition" />
	</select>

	<insert id="insert_storeAction" parameterType="storeAction">
		INSERT INTO
		to2o_store_action(
		code
		,type
		,action_user
		,action_datetime
		,store_code
		,system_code
		)
		VALUES(
		#{code}
		,#{type}
		,#{actionUser}
		,#{actionDatetime}
		,#{storeCode}
		,#{systemCode}
		)
	</insert>

	<update id="update_storeAction" parameterType="storeAction">
		UPDATE to2o_store_action
		SET
		type = #{type}
		,action_user = #{actionUser}
		,action_datetime = #{actionDatetime}
		,store_code = #{storeCode}
		,system_code = #{systemCode}
		WHERE code = #{code}
	</update>

	<delete id="delete_storeAction" parameterType="storeAction">
		DELETE FROM
		to2o_store_action
		WHERE
		code = #{code}
	</delete>

</mapper>